tests/data/test_ns.sam filter=lfs diff=lfs merge=lfs -text
tests/data/GM12878.phased.conf.vcf.gz filter=lfs diff=lfs merge=lfs -text
tests/data/GM12878.phased.conf.vcf.gz.tbi filter=lfs diff=lfs merge=lfs -text
tests/data/GM12878_NlaIII_reads.fq.gz filter=lfs diff=lfs merge=lfs -text
tests/data/GRCh38.fasta.gz filter=lfs diff=lfs merge=lfs -text
tests/data/GRCh38.fasta.gz.fai filter=lfs diff=lfs merge=lfs -text
tests/data/GM12878_NlaIII_reads.tsv filter=lfs diff=lfs merge=lfs -text
tests/data/NlaIII_run01_GRCh38.read_sort.bam filter=lfs diff=lfs merge=lfs -text
tests/data/NlaIII_run01_GRCh38.haplotagged.bam filter=lfs diff=lfs merge=lfs -text
tests/data/NlaIII_GRCh38.vd.fragments.parquet/_common_metadata filter=lfs diff=lfs merge=lfs -text
tests/data/NlaIII_GRCh38.vd.fragments.parquet/_metadata filter=lfs diff=lfs merge=lfs -text
tests/data/NlaIII_GRCh38.vd.fragments.parquet/part.0.parquet filter=lfs diff=lfs merge=lfs -text
tests/data/NlaIII_run01_GRCh38.align_table.parquet/_common_metadata filter=lfs diff=lfs merge=lfs -text
tests/data/NlaIII_run01_GRCh38.align_table.parquet/_metadata filter=lfs diff=lfs merge=lfs -text
tests/data/NlaIII_run01_GRCh38.align_table.parquet/part.0.parquet filter=lfs diff=lfs merge=lfs -text
tests/data/GRCh38.fasta.gz.gzi filter=lfs diff=lfs merge=lfs -text
tests/data/GRCh38.chromsizes filter=lfs diff=lfs merge=lfs -text
tests/data/NlaIII_GRCh38.concatemers.parquet filter=lfs diff=lfs merge=lfs -text
tests/data/NlaIII_GRCh38.contacts.parquet filter=lfs diff=lfs merge=lfs -text
tests/data/NlaIII_GRCh38.contacts.parquet/_common_metadata filter=lfs diff=lfs merge=lfs -text
tests/data/NlaIII_GRCh38.contacts.parquet/_metadata filter=lfs diff=lfs merge=lfs -text
tests/data/NlaIII_GRCh38.contacts.parquet/part.0.parquet filter=lfs diff=lfs merge=lfs -text
tests/data/NlaIII_GRCh38.concatemers.parquet/_common_metadata filter=lfs diff=lfs merge=lfs -text
tests/data/NlaIII_GRCh38.concatemers.parquet/_metadata filter=lfs diff=lfs merge=lfs -text
tests/data/NlaIII_GRCh38.concatemers.parquet/part.0.parquet filter=lfs diff=lfs merge=lfs -text
tests/data//NlaIII_GRCh38.concatemers.parquet/part.0.parquet filter=lfs diff=lfs merge=lfs -text
tests/data//NlaIII_GRCh38.concatemers.parquet/_common_metadata filter=lfs diff=lfs merge=lfs -text
tests/data//NlaIII_GRCh38.concatemers.parquet/_metadata filter=lfs diff=lfs merge=lfs -text
tests/data//NlaIII_GRCh38.contacts.parquet/part.0.parquet filter=lfs diff=lfs merge=lfs -text
tests/data//NlaIII_GRCh38.contacts.parquet/_common_metadata filter=lfs diff=lfs merge=lfs -text
tests/data//NlaIII_GRCh38.contacts.parquet/_metadata filter=lfs diff=lfs merge=lfs -text
